@page "/CategoryList"
@inject ICategoryRepository __categoryRepository

<h3 class="display-6 text-center">CategoryList</h3>
<hr>

<div class="my-4 row">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="Category/Create" class="btn btn-primary form-control">Add New Category</a>
    </div>
</div>
<div class="my-2 row">
    <div class="col-12">
        @if(Categories_.Any())
        {
            <table class="table table-bordered table-inverted table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var objCat in Categories_)
                    {
                        <tr>
                            <td>@objCat.Name</td>
                            <td>
                                <NavLink href="" class="btn btn-primary">Edit</NavLink>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if(IsLoading)
            {
                <!-- loading gif -->
            }
            else
            {
                <p class="lead text-danger">No records found!!</p>
            }
        }
    </div>
</div>


@code {
    private IEnumerable<CategoryDTO> Categories_ {get; set;} = new List<CategoryDTO>();

    public bool IsLoading {get; set;} = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadCategories);
    }

    private void LoadCategories()
    {
        Categories_ = __categoryRepository.GetAll();
        IsLoading = false;
    }
}
